@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forzamos el modo oscuro base */
:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Color 'background' de nuestra config */
  color: #ffffff; /* Color 'text-main' de nuestra config */
}
